{% extends "layout.html" %}

{% block title %}
Share
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">View data with 3D, 2D graph visualization</h1>

<h2>
    {% if form.instance.pk %}
        Edit Tweet 
    {% else %} 
        Create Tweet
    {% endif %}
</h2>

<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>

<a href="{% url 'share_list' %}">Back to home</a>

{% endblock %}
